<header>
    <div class="w3-row">
        <img class="w3-round w3-col" src="/images/cover1.jpg" alt="Caravan">
        <div class="w3-display-topright w3-container w3-hide-smalli w3-text-white">
            Springbridge Meats
        </div>
    </div>
</header>
