<div id="facebookContainer" class="w3-col l3 m5 w3-center w3-padding w3-hide-small w3-hide-medium">
    <div class="w3-border w3-round-xlarge w3-padding" style="height:{{fbHeight}}">
        <div class="fb-page" data-height="{{fbHeight}}" data-href="https://www.facebook.com/paulandclairesholidayhome/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/paulandclairesholidayhome/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/paulandclairesholidayhome/">Paul and Claire&#039;s Holiday Home</a></blockquote></div>
    </div>
</div>

