<div class="minHeight30px">
    <input type="hidden" name="bookingId" value="{{#bookingInfo}}{{booking_id}}{{/bookingInfo}}">
    <input type="hidden" name="paymentId" value="{{payment_id}}">
    <div class="sameLine margin2pxTopBottom"><label for="">Type</label><input type="text" name="paymentType" value="{{type}}" class="w3-margin-right"></div>
    <div class="sameLine margin2pxTopBottom"><label for="">Amount</label><input type="text" name="paymentAmount" value="{{amount}}" class="w3-margin-right"></div>
    <div class="sameLine margin2pxTopBottom"><label for="">Reference</label><input type="text" name="paymentReference" value="{{reference}}" class="w3-margin-right"></div>
    <div class="sameLine margin2pxTopBottom newLine"><label for="">Date</label><input type="text" name="paymentDate" value="{{payment_date}}"></div>
</div>

