{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}

<div class="w3-row">
    <div id="leftBody" class="w3-col l9 m12 w3-padding-left">
        <div class="w3-padding">
            <header>Availability</header>

            <div class="key available"><p>Available</p></div>
            <div class="key held"><p>Pending</p></div>
            <div class="key booked_balance"><p>Booked</p></div>
            <div class="key closed"><p>Closed</p></div>
            <div class="clear"></div>
        </div>

{{#data}}
{{#firstDayInMonth}}
    <div class="w3-col l4 w3-padding-right w3-padding-bottom {{#newRow}}clear{{/newRow}}">
        <div class="w3-border w3-container dates w3-round-xlarge w3-light-grey fb">
            <h4 class="month">{{month}} {{year}}</h4>
{{/firstDayInMonth}}
                {{#available}}
                    <div class="day available off fb"><span class="day">{{dayName}} - {{day}}</span></div>
                {{/available}}
                {{#pending}}
                    <div class="day pending off fb"><span class="day">{{dayName}} - {{day}}</span></div>
                {{/pending}}
                {{#booked}}
                    <div class="day booked off fb"><span class="day">{{dayName}} - {{day}}</span></div>
                {{/booked}}
                {{#closed}}
                    <div class="day closed off fb"><span class="day">{{dayName}} - {{day}}</span></div>
                {{/closed}}
{{#lastDayInMonth}}
        </div>
   </div>
{{/lastDayInMonth}}
{{/data}}
   </div>

    {{>partials/facebookStream}}
</div>
{{>partials/footer}}

