{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <div id="leftBody" class="w3-col l12 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
        <header><h1>Contact Springbridge Meats (Butchers)</h1></header>
        <article>
            <h6>Please select a desired method of contact, if not available we will endevour to get back to you as soon as possible.</h6>
            <ul>
                <li>Email - Please <a href="mailto:holmes771@btinternet.com?Subject=Spingbridge%20Meats">Click Here</a></li>
                <li>Phone - Please <a href="tel:07734055500">Click Here - 07734 055500</a></li>
                <li>Personal Message - Please <a href="https://www.facebook.com/SpringbridgeMeats/" target="_blank">Click Here</a></li>
                <li>Facebook Page - Please <a href="https://www.facebook.com/SpringbridgeMeats/" target="_blank">Click Here</a></li>
            </ul>
        </article>
        </div>
    </div>
</div>
{{>partials/footer}}

