{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <div id="leftBody" class="w3-col l9 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
            <header>About</header>
            <article>
                <h6>Situated in a quiet area of park, no walk through to other caravans and only a 3-4 minute walk from the main show bar, 47 Meadows is in a prime spot for a relaxing holiday but near enough to main complex to enjoy all the amenities.</h6>
                <dl>
                    <dt><span>Category:</span></dt><dd> Holiday Rental @ Littlesea Caravan Park</dd>
                    <dt><span>Name:</span></dt><dd> Paul and Claire's Holiday Home</dd>
                    <dt><span>Address:</span></dt><dd> Lynch Lane, Littlesea, DT49DT Weymouth, Dorset</dd>
                    <dt><span>Hours:</span></dt><dd> Always open</dd>
                    <dt><span>Price Range:</span></dt><dd> &pound;120.00 to &pound;700.00</dd>
                    <dt><span>Parking:</span></dt><dd> Outside Parking for Caravan for 2 to 3 vehicles, plus car park near the main complex</dd>
                    <dt><span>Public Transit:</span></dt><dd> Public Transport (Bus) from Weymouth Town Centre to Littlesea Haven Caravan Park</dd>
                </dl>
            </article>

            <div id="anchor">

                <header>Caravan Facilities</header>
                <article>
                    <h6>Caravan Facilities Available within cost of holiday</h6>
                    <dl>
                        <dt>Number of Toilets:</dt><dd> 2</dd>
                        <dt>Number of Showers:</dt><dd> 1</dd>
                        <dt>Central Heating:</dt><dd> Yes</dd>
                        <dt>Fridge Freezer:</dt><dd> Yes</dd>
                        <dt>Microwave:</dt><dd> Yes</dd>
                        <dt>Toaster:</dt><dd> Yes</dd>
                        <dt>Television:</dt><dd> Yes, 42" with DVD player intergrated</dd>
                        <dt>Double Glazing:</dt><dd> Yes</dd>
                        <dt>Parking:</dt><dd> Yes, enough for 3 large cars</dd>
                        <dt>Numnber of Bedrooms:</dt><dd> 3</dd>
                        <dt>Linen Provided:</dt><dd> No, but pillows and duvets supplied to sleep 8 people</dd>
                        <dt>USB Plug Sockets:</dt><dd> Yes</dd>
                        <dt>Electric Fire:</dt><dd> Yes</dd>
                        <dt>Kitchen Facilities, knives, forks, plates etc:</dt><dd> Yes</dd>
                    </dl>
                </article>
                
                <header>Site Facilities</header>
                <article>
                    <h6>Site Facilities within cost of holiday*,**</h6>
                    <dl>
                        <dt>Accept children all ages:</dt><dd> Yes</dd>
                        <dt>Children's play area:</dt><dd> Yes</dd>
                        <dt>Daily Activities for chldren:</dt><dd> Yes, see notice board on site or download the Haven app**</dd>
                        <dt>Games Room/Large Arcade Area:</dt><dd> Yes</dd>
                        <dt>Small Soft Play Area:</dt><dd> Yes</dd>
                        <dt>Indoor pool:</dt><dd> Yes**</dd>
                        <dt>Outdoor pool:</dt><dd> Yes**</dd>
                        <dt>Tennis court:</dt><dd> Yes**</dd>
                        <dt>Crazy golf:</dt><dd> Yes**</dd>
                        <dt>5 a-side/Basket Ball Court:</dt><dd> Yes</dd>
                        <dt>Bar:</dt><dd> Yes**</dd>
                        <dt>Show Room:</dt><dd> Yes*</dd>
                        <dt>Convenience Store:</dt><dd> Yes**</dd>
                        <dt>Restaurant:</dt><dd> Yes**</dd>
                        <dt>Pizza:</dt><dd> Yes, (including Delivery if requied)**</dd>
                    </dl>
                    <p class="w3-small">*Showbar tickets are available at Haven reception at an extra cost unless stated on your invoice.</p>
                    <p class="w3-small">**Charges applied by Haven</p>
                </article>
            </div>
        </div>
        <div class="w3-padding-top-16">
            <div class="w3-border w3-round-xlarge w3-padding">
            <div id="map"></div>
            <script>
            function initMap() {
                var myLatLng = {lat: 50.606003, lng: -2.492000};

                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: myLatLng
                });

                var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '47 Meadows'
                });
            }
            </script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Xg9XnXOUac1r8gYLaZlYUDPVS80iEY4&callback=initMap">
            </script>
            </div>
        </div>
    </div>
    {{>partials/facebookStream}}
</div>
{{>partials/footer}}
