{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <div id="leftBody" class="w3-col l12 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
            <header><h1>Springbridge Meats - Quality family run butchers</h1></header>
            <div class="w3-row-padding">
                <div>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#127968;</h2>
                        <h4>Our Shop</h4>
                        <p>Established for over 3 years, farming our own animals and working with many other farmers in the local area. Our warm friendly and knowledgeable team of butchers offer expert knowledge and cooking advice.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#127942;</h2>
                        <h4>Our Gurantee</h4>
                        <p>We are a fully licensed butchery in accordance with the current Environmental Health guidelines, so you can rest assured that quality is guaranteed.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128106;</h2>
                        <h4>Home from Home</h4>
                        <p>At Springbridge Meats, we are a high quality family butchers that has grown over the last 3 years. Focusing on providing our customers with the highest levels of customer satisfaction and we will do everything we can to meet your expectations.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128421;</h2>
                        <h4>Ordering</h4>
                        <p>Making a purchase could not be easier. Simply browse our selection of quality meats. When you have completed your selections call us on 07734 055500 and we can take your order.  Apologies whilst we get our online service up and running.</p>
                        <!--<p>Making a purchase could not be easier. Simply browse our selection of quality meats. When you have completed your selections, you will be transferred to our secure server for your details to enable us to complete the order.</p>-->
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128071;</h2>
                        <h4>Fantastic Location</h4>
                        <p>With a large car park and a easy to locate, Springbridge Meats (Butchers) is a great place to visit.  With a peting area and Springbridge Cafe next door, families love to visit, eat and play whilst collecting their orders. </p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#163;</h2>
                        <h4>Best Prices</h4>
                        <p>Cheaper and better quality than the supermarkets. ... Yes there is a lot of meat and its expensive up front but for quality meat at a good price you can't beat it.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{{>partials/footer}}
